.main
{
    height:70px;
    background:white;
    display: flex;
    border-bottom: 5px solid #f27300;
    width: 90%;
    justify-content: space-between;
    margin-left: 90px;
}
.main-compo
{
    display: flex;
    list-style: none;
     text-align: center;
    font-size: 20px;
    /* margin-right:1090px;
     */
}
.main-compo a 
{
    color: black;
    text-decoration: none;
    margin:13px;
    text-align: center;
    margin-top: 1.3rem;
    /* border-radius: 5px; */
    
    /* padding: 2px 19px; */
}
.main-compo a:hover{
    border-top: 3px solid #f27300;
}
.seacrh-icon
{
    margin-top: 25px;
}
.seacrh-icon:hover
{
    border-top: 3px solid #f27300;
}
.mobile-menu-icon
{
    display: none;
}
@media screen and (max-width:951px)
{
    .main{
        margin-left: 0;
        width: 100%;
    }
    .main-compo{
        display: none;
    }

.mobile-menu-icon
{
    display: block;
    position:absolute;
    right: 0;
    top:15;
    margin-top: 18px;
  
    border: none;
}
.nav-link-mobile
{ 
       position: absolute;
        top:320px;
        left: 0;
        height:800px;
        width: 60%;
        background-color: white;
        color: black;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
      
        
}
.nav-link-mobile a
{
    list-style: none;
    text-decoration: none;
    color: silver;
    padding: 20px;
}
.nav-link-mobile  a:hover
{
       background: black;
       width: 100%;
        
}


.seacrh-icon
{
    display: none;
}
}
