
.blog-post1{
  width: 100%;
  max-width: 98rem;
  padding: 6rem;
  display: flex;
  align-items: left;
  align-items: center;
  border: radius 0.8em;
  padding-top: 1rem;
  padding-bottom: 1px;
  margin-top: -350px;
  
  font-family: "Calibri Light";
  font-size: 15px;
  font-weight: 400;
  color: #202020;

}
.blog-post-img1{
  min-width: 20rem;
  max-width: 20rem;
  height: 12rem;
  position: relative;
}
 .blog-post-img1 img{
   width: 200px;
   height: 200px;
   object-fit: cover;
   display: block;
   border-radius: block;
   border-radius: 0.8rem;

 }

 .blog-post-img1::before{
   content: "";
   width: 120px;
   height: 120px;
   position: absolute;
   top: 0;
   left: 0;
 }

 .blog-post-title1 h1{
   display: block;
   color:rgba(200, 209, 27, 0.8);
   font-size: 1.2rem;
   font-weight: 700;
   margin: .1rem 0; 
   
 }
.blog-post-title1{
  margin-left: 10px;
}
 .blog-post-title1 .blog-post-info1 span{
   font-size:2.5rem;
   margin: .8rem 0 .8rem;
   text-transform: uppercase;
   color:#182735;
 }
 .blog-post-info1{
   margin-left: 40px;
 }

 @media screen and (max-width:1068px) {

  .blog-post1{
    max-width:80rem;
     }
     .editor1{
       max-width:10rem;
       margin-left: 10rem;
     }
    .blog-post-img1 img{
      min-width: 30rem;
      max-width: 30rem;
     }
     
   
.blog-post1 .message1{
    padding-left: 120px;
    max-width:80rem;
    margin-left: 110rem;

}
 }

 @media screen and (max-width:868px) {
   .blog-post1{
     padding-top:  30rem;
     padding-left: 10px;
     padding-right:10px;
     padding-bottom:1rem;
     flex-direction: column;
   }
   .blog-post-img1 img{
     min-width: 170px;
     max-width: 100vh;
     transform: translate(0, -8rem);
   }
   .blog-post-info1{
     margin-top:-50px;
     margin-left: -100px;


   }
   
.blog-post1 .message1{ 
  text-align: center;
  
  
    
}

 }
.blog-post1 .message1{


    margin-top: 380px;
    padding-top: 200px;
    margin-left: -650px;
    padding-left: 90px;
    padding-right:10px;
    padding-bottom: 20px;
    color:rgba(16, 17, 3, 0.8);
    line-height: 1.8;
    font-family: "Calibri Light";
    font-size: 15px;
    font-weight: 400;
    color: #202020;
    
    
}


.title1{
  color: rgba(39, 39, 37, 0.8);
  margin-top: 20px;
  padding-bottom: 0px;
  padding: auto;
  margin-left: 100px;
  word-wrap: break-word;
  font-weight: 700px;
  font-size: 32px;
  color: #000;
}