.chairman{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.chairman-blog{
  margin-top: 20px;
}

.chairman-blog-post{
  width: 100%;
  padding:2rem;
  background-color: #ffff;
  align-items:center;
  border: radius 0.8em;
}

.blog-post-img{
  min-width: 20rem;
  max-width: 20rem;
  height: 12rem;
  position: relative;
}

 .blog-post-img img{
   width: 200px;
   height: 200px;
   object-fit: cover;
   display: block;
   border-radius: block;
   border-radius: 0.8rem;
 }

 .blog-post-img::before{
   content: "";
   width: 120px;
   height: 120px;
   position: absolute;
   top: 0;
   left: 0;
 }

 .blog-post-title h1{
   padding-top: 100px;
   color:rgba(200, 209, 27, 0.8);
   font-size: 1.2rem;
   font-weight: 700;
   margin: .1rem 0;
 }

 .blog-post-title .blog-post-info span{
   font-size:2.5rem;
   margin: .8rem 0 .8rem;
   text-transform: uppercase;
   color:#182735;
 }

 .blog-post-info{
   margin-left: 1px;
 }

 .chairman-message{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   padding-top: 3rem;
   padding-bottom: 3rem;
 }

 @media screen and (max-width:1068px) {

  .blog-post{
    max-width:80rem;
     }
     .editor{
       max-width:10rem;
       margin-left: 10rem;
     }
    .blog-post-img img{
      min-width: 30rem;
      max-width: 30rem;
     }
     
   
.blog-post .message{
    padding-top: -640px;
    margin-top:-300px; 
    padding-left: 20px;
    max-width:1rem;
    margin-left: 10rem;

}
 }

 @media screen and (max-width:868px) {
   .blog-post{
     padding-top:  10rem;
     padding-left: 130px;
     padding-right:130px;
     padding-bottom:2rem;
     flex-direction: column;
   }
   .blog-post-img img{
     min-width: 170px;
     max-width: 100vh;
     transform: translate(0, -8rem);
   }
   .blog-post-info{
     margin-top:-50px;
     margin-left: -50px;


   }
   
.blog-post .message{ 
    margin-top: 20px;
    margin-left: 80px;
    padding-left: 9px;
    padding-right:10px;
    padding-bottom: 30px;

    
}

 }