.main-editor {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
}

.main-div {
  padding-left: 1rem;
  /* border: 1px solid black; */
}

.flex-set {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.editer {
  /* margin-left: 1rem; */
  padding: 0.5rem 0.5rem;
}

.editer h1 {
  padding: 1px;
  margin-left: 0.8rem;
}

.blog-post-img img {
  /* margin-left: 1rem; */
  margin-top: 1rem;
  width: 100px;
  height: 100px;
  /* border: 1px solid black; */
}

.blog-post-title h1 {
  display: flex;
  color: rgba(200, 209, 27, 0.8);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0.5rem 5rem;
}

.blog-post-title span {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
  margin-bottom: 2rem;
  font-size: 12px;
}

@media screen and (max-width: 500px) {
  .blog-post-title span {
    font-size: 10px;
  }
  .editer{
    margin-left: 1px;
  }
}