.footr{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.footer{
    display: flex;
    justify-content: center;
    width: 90%;
    background-color: #ff6900;
    padding: 15px;
}

.footer h3{
    color: white;
    text-align: center;
    margin: 10px;
}

@media only screen and (max-width: 800px){
    .footer{
        padding: 8px;
    }
    
    .footer h3{
        margin: 6px;
        font-size: 15px;
    }
}